<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ListPage</title>
    <link rel="canonical" href="https://v4.bootcss.com/docs/examples/blog/">
    <link rel="stylesheet" href="../static/css/blog.css" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container" id="container">
        <div th:insert="BlogType::blogHead"></div>
        <div th:insert="BlogType::blogNav"></div>
<!--    列表页面选择包类型导航框    -->
<!--        <ul class="nav nav-pills nav-fill" style="margin-top: 10px">-->
<!--            <li class="nav-item" th:each="package:${packages}" style="margin: 5px">-->
<!--                <a class="nav-link active" th:href="@{/toAlist(pid = ${package.getPid()},pagenumb = 0)}" th:text="${package.getPname()}">包1</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--        包导航条-->
        <div class="list-group" style="float: left;width: 14%">
            <a th:classappend="${package.pid == pid}?active" class="list-group-item list-group-item-action" th:each="package:${packages}" th:href="@{/toAlist(uid = ${session.uid},pid = ${package.getPid()},pagenumb = 0)}" th:text="${package.getPname()}">
                Cras justo odio
            </a>
        </div>
        <!-- 文章列表  -->
        <div style="float: right;width: 85%">
<!--            主体页面-->
            <div class="row mb-2" style="margin-top: 10px">
                <div class="col-md-6" th:each="article:${articles}">
                    <div id="articles" class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-primary" th:text="${pname}">World</strong>
                            <h3 class="mb-0" th:text="${article.title}"></h3>
                            <div class="mb-1 text-muted" th:text="${#dates.format(article.date,'YYYY年MM月dd日 HH:mm:ss')}"></div>
                            <p class="card-text mb-auto" th:text="${article.info}">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" th:href="@{/getText(aid = ${article.getAid()})}" class="stretched-link">继续阅读...</a>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                                <title>Placeholder</title>
                                <image href="/static/img/dunfang.jpg" style="width: 100%;height: 100%" />
<!--                                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>-->
                            </svg>
                        </div>
                    </div>
                </div>

            </div>
<!--            分页器-->
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item" th:class="${nowpage == 0 ?'page-item  disabled':'page-item'}">
                        <a class="page-link" th:href="@{/toAlist(uid = ${session.uid},pid = ${pid},pagenumb = ${nowpage}-1)}">上一页</a>
                    </li>
                    <li class="page-item" aria-current="page" th:each="i:${#numbers.sequence(1, maxpage)}" th:class="${nowpage+1 == i?'page-item active':'page-item'}" >
                        <a class="page-link" href="#" th:href="@{/toAlist(uid = ${session.uid},pid = ${pid},pagenumb = ${i}-1)}" th:text="${i}"></a>
                    </li>
                    <li class="page-item" th:class="${nowpage+1 == maxpage ?'page-item  disabled':'page-item'}">
                        <a class="page-link" th:href="@{/toAlist(uid = ${session.uid},pid = ${pid},pagenumb = ${nowpage}+1)}">下一页</a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
    <div th:insert="BlogType::blogFoot"></div>
</body>
</html>