<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>showMarkdown</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/css/blog.css" />
    <link rel="stylesheet" href="../static/css/MarkDown.css" />
    <script type="text/javascript" src="../static/js/showdown.js"></script>
    <script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div class="container" id="container">
        <div th:insert="BlogType::blogHead"></div>
        <div th:insert="BlogType::blogNav"></div>

        <h1 id="title" th:text="${article.getTitle()}"></h1>
        <div id="output" class="markdown_output" style="width: 100%">

        </div>

    </div>
    <div th:insert="BlogType::blogFoot"></div>

</body>
<script language="JavaScript" th:inline="javascript">

    window.onload= function () {
        var text = [[${article.getContent()}]],
            target = document.getElementById('output'),
            converter = new showdown.Converter(),
            html = converter.makeHtml(text);

        target.innerHTML = html;
    };
</script>
</html>